# Node modules
/node_modules/

# Build output
/dist/
/build/
/public/app/apikhqr.js
# Log files
*.log

# System files
.DS_Store
Thumbs.db

# IDE or editor folders
.idea/
.vscode/

# Environment files
.env

# npm package lock file (optional, if you want to ignore the lock file)
package-lock.json

# Dependency directory for JSDoc generated docs

# Temporary files
*.tmp
